@plugin "@tailwindcss/typography";

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    letter-spacing: var(--tracking-normal);
    @apply bg-background text-foreground;
  }

  .draggable-top-bar {
    @apply absolute inset-0 h-8 bg-green-400 border-4 border-red-400;
    --webkit-app-region: drag;
  }

  header {
    --webkit-app-region: drag;
  }

  button {
    --webkit-app-region: no-drag;
  }

  ::-webkit-scrollbar {
    @apply w-1.5;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-foreground;
  }
}
